aiofiles
aiohttp
asyncio
dnspython
ffmpeg-python
gitpython
hachoir
heroku3
lyricsgenius
motor
pillow==9.5.0
psutil
py-tgcalls==0.8.6
pykeyboard
pyrogram==1.4.16
python-dotenv
pyyaml==5.3.1
requests
speedtest-cli
spotipy
tgcrypto
urllib3
git+https://github.com/KurimuzonAkuma/pyrogram@aa9b1072e4e4106bbd463c09642a419e5081f2bf
git+https://github.com/yt-dlp/yt-dlp
git+https://github.com/alexmercerind/youtube-search-python@main
git+https://github.com/joetats/youtube_search@master
SafoneAPI
pymongo==4.9.2
bing-image-urls
gTTS
googlesearch-python
httpx[http2]
pyfiglet
lexica-api
MukeshAPI
nekos.py
telegraph
uuid
git+https://github.com/noob-mukesh/MukeshAPI@main
git+https://github.com/Vivekkumar-IN/TheApi@main